
.header {
  background-color: var(--color-dark-teal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-2xs);
  margin-inline-end: auto;
}

.logo {
  color: var(--color-light-grey);
  padding: 0 var(--space-xs);
}

.navbar {
  position: relative;
  display: inline-flex;
  padding: 0 var(--space-2xs);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: var(--space-m);
  margin: 0;
  padding: 0;
  z-index: 2;
}


.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.nav-links a:hover {
  border-bottom: 2px solid #d4af37; /* Accent */
  color: #032b2c; /* Dark Neutral */
}

.nav-toggle {
  visibility: hidden;
  background-color: var(--color-dark-teal);
  border: 0.1rem solid var(--color-dark-teal);
  color: var(--color-light-grey);
  font-size: var(--font-1);
  cursor: pointer;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}


.nav-toggle:hover {
  border-color: var(--color-darker-grey);
  box-shadow: 0 0 0.0625rem 0.0625rem var(--color-darker-grey);
}

.nav-toggle:focus {
  outline: none;
  box-shadow: 0 0 0.0625rem 0.0625rem var(--color-darker-grey);
}

.button {
  background-color: #fff;
  color: var(--color-dark-teal);
  border: var(--) solid var(--color-dark-teal);
  padding: 18px 30px;
  line-height: 1.25em;
  font-weight: 400;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  background-color: #032b2c; /* Accent */
}

.hero {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%;
  height: auto;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-button {
  background-color: #ff6f61;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.services,
.about,
.testimonials,
.staff,
.contact-info {
  padding: 20px;
  text-align: center;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about {
  background-color: #032b2c;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about-text {
  margin-bottom: 20px;
}

.about-text > button {
  border: 2px solid #d4af37;
  margin-top: 10px;
}

.about-text button:hover {
  border: 1px solid #d4af37;
  background-color: #d4af37; /* Accent */
}

.services {
  background-color: #d4af37;

  padding: 20px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-item {
  margin: 10px;
  text-align: center;
}

.service-image {
  max-width: 100%;
  height: auto;
}


section,
aside
 {
  margin: 0 0 24px 0;
}

picture {
  position: relative;
}




footer {
  background-color: var(--color-dark-teal);
  color: var(--color-light-grey);
  padding: 20px;
  text-align: center;
}