.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px;
  text-decoration: none;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.skip-link:focus {
  transform: translateY(0);
}

.header {
  background-color: var(--color-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-2xs) 0 0 0;
  padding-inline-start: var(--space-s);
  padding-inline-end: var(--space-s);
  z-index: 333;
  position: relative;
}

.logo-container img {
  max-width: 100%;
  max-height: 60px;
  border-radius: 20%;
  width: auto;
}

.navbar {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  padding: 0 var(--space-2xs);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--space-m);
  margin: 0;
  padding: 0;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}

.navbar a {
  text-decoration: none;
  color: var(--color-light-grey);
  font-weight: 300;
  font-family: "Lora", serif;
  text-transform: uppercase;
}

.nav-links a {
  position: relative;
  text-decoration: none;
}

.nav-links li {
  position: relative;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links li:hover {
  transform: scale(1.2);
  z-index: 2;
}

.nav-links li:hover + li {
  transform: translateX(10px);
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: var(--color-light-yellow); /* Border color */
}

.nav-links a:focus::after,
.nav-links a:hover::after {
  width: 100%;
}

.nav-toggle {
  visibility: hidden;
  background-color: transparent;
  border: none;
  color: var(--color-light-grey);
  font-size: var(--font-1);
  cursor: pointer;
}

.nav-toggle::after {
  visibility: hidden;
}

.nav-toggle-close {
  visibility: hidden;
}

.nav-toggle-close .line {
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: var(--color-light-yellow);
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle-close .line1 {
  transform: rotate(45deg);
}

.nav-toggle-close .line2 {
  transform: rotate(-45deg);
}

.container {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: var(--space-s);
}

.button {
  flex: 1;
  text-align: center;
  padding: var(--space-s) var(--space-m);
  background-color: var(--color-gold);
  color: var(--color-black);
  font-weight: 500;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-light-yellow);
}

.hero-button {
  box-shadow: inset 0 0 0 var(--button-border-width) var(--color-light-grey); /* Default color and width */
  color: var(--color-light-yellow);
  transition: color 0.25s ease 0.083s, transform 0.5s ease-in-out;
  position: relative;
  width: 50%;
  font-weight: 700;
  font-size: var(--font-2);
  line-height: 1.5;
  margin-top: var(--space-m);
  padding: var(--space-s) var(--space-m);
  letter-spacing: 0.05rem;
  background: none;
  border: none;
  cursor: pointer;
}

.hero-button::before,
.hero-button::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-width: 4px;
  border-color: transparent;
}

.hero-button:hover {
  /* color: var(--color-light-grey); Hover color */
  background-color: var(--color-black);
}

.hero-button:hover::before,
.hero-button:hover::after {
  border-color: var(--color-light-yellow);
  transition: border-color 0s, width 0.25s, height 0.25s, transform 0.6s;
  width: 100%;
  height: 100%;
}

.hero-button:hover::before,
.hero-button:hover::after {
  transition-delay: 0.25s;
}

.hero-button:focus {
  outline: 2px dotted var(--color-light-yellow);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: var(--space-m) 0;
  min-height: clamp(50vh, 90vh, 100vh);
  overflow: hidden;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: var(--color-black);
  z-index: 1;
  overflow: hidden;
}

.hero-slider {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.hero-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero-text {
  /* width: clamp(40ch, 100%, 60ch); */
  text-align: center;
  margin: 0 auto;
  line-height: 1.6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 98;
  /* margin-block-start: var(--space-2xl); */
  /* padding-block-start: var(--space-3xl); */
}

.hero-text h1,
.hero-text p {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.swiper-lazy-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 4px solid transparent;
  border-top: var(--space-xs) solid inherit;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.services,
.about,
.testimonials,
.staff,
.contact-info {
  text-align: center;
  background-color: var(--color-dark-teal);
  background-size: cover;
  position: relative;
}

.background-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.services-section {
  padding-block: var(--grid-gutter);
  background: var(--color-black) url(../images/sea-background.jpg) center
    no-repeat;
  background-size: cover;
}

.home-service-card {
  display: flex;
  flex-direction: column;
  padding: var(--grid-gutter);
  height: 100%;
  background-color: var(--color-black);
  color: var(--color-light-grey);
  border-radius: var(--space-2xs);
  transition: transform 0.3s ease;
}

.home-service-card:hover {
  transform: translateY(-4px);
}

.service-image {
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: var(--space-xs);
}

.service-button-container {
  margin-top: auto;
}

.service-button {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--color-light-grey);
  background-color: transparent;
  color: var(--color-light-grey);
  padding: var(--space-s) 0;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.service-button:focus,
.service-button:hover {
  color: var(--color-black);
  border: 2px solid var(--color-light-grey);
  background-color: var(--color-light-grey);
}

.service-title {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section,
aside {
  padding: 0 0 var(--space-m-l) 0;
}

picture {
  position: relative;
}
