@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

:root {
  --fluid-16-48: clamp(1rem, 0.3043rem + 3.4783vw, 3rem);

  --font--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --font--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --font-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --font-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --font-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --font-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --font-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --font-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

  --space-3xs: clamp(0.3125rem, 0.2908rem + 0.1087vw, 0.375rem);
  --space-2xs: clamp(0.5625rem, 0.519rem + 0.2174vw, 0.6875rem);
  --space-xs: clamp(0.875rem, 0.8098rem + 0.3261vw, 1.0625rem);
  --space-s: clamp(1.125rem, 1.038rem + 0.4348vw, 1.375rem);
  --space-m: clamp(1.6875rem, 1.5571rem + 0.6522vw, 2.0625rem);
  --space-l: clamp(2.25rem, 2.0761rem + 0.8696vw, 2.75rem);
  --space-xl: clamp(3.375rem, 3.1141rem + 1.3043vw, 4.125rem);
  --space-2xl: clamp(4.5rem, 4.1522rem + 1.7391vw, 5.5rem);
  --space-3xl: clamp(6.75rem, 6.2283rem + 2.6087vw, 8.25rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.1821rem + 0.6522vw, 0.6875rem);
  --space-2xs-xs: clamp(0.5625rem, 0.3886rem + 0.8696vw, 1.0625rem);
  --space-xs-s: clamp(0.875rem, 0.7011rem + 0.8696vw, 1.375rem);
  --space-s-m: clamp(1.125rem, 0.7989rem + 1.6304vw, 2.0625rem);
  --space-m-l: clamp(1.6875rem, 1.3179rem + 1.8478vw, 2.75rem);
  --space-l-xl: clamp(2.25rem, 1.5978rem + 3.2609vw, 4.125rem);
  --space-xl-2xl: clamp(3.375rem, 2.6359rem + 3.6957vw, 5.5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.1957rem + 6.5217vw, 8.25rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.5598rem + 2.8261vw, 2.75rem);

  --color-gold: #d4af37;
  --color-dark-gold: #b98f2b;
  --color-light-gold: #e4c36e;
  --color-light-yellow: #ffe593;

  --color-purple: #6a0572;
  --color-dark-purple: #500457;
  --color-light-purple: #874187;

  --color-dark-teal: #032b2c;
  --color-darker-teal: #021f20;

  --color-light-grey: #f5f5f5;
  --color-darker-grey: #e0e0e0;
  --color-lighter-grey: #ffffff;

   --footer-border: #262626;
   
  --tw-bg-opacity: 1;

  --color-black: #080808;

  color: var(--color-light-yellow);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font--2);
  --swiper-navigation-color: var(--color-lighter-grey);
  --swiper-pagination-color: var(--color-lighter-grey);

  --grid-max-width: 77.5rem;
  /* --grid-gutter: var(--space-s-l, clamp(1.125rem, 0.6508rem + 2.3861vw, 2.5rem)); Gutter spacing */

  --grid-gutter: var(--space-m, clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem));
  --grid-columns: 12;
  --grid-columns-mobile: 1fr; /* 1 column on mobile */
  --grid-columns-tablet: repeat(3, 1fr);

  --button-border-color: var(--color-light-grey);
  --button-hover-border-color: var(--color-light-yellow);
  --button-text-color: var(--color-light-yellow);
  --button-hover-bg-color: var(--color-black);
  --button-border-width: 2px; /* Default border width */
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
  grid-template-columns: var(--grid-columns-mobile);
  /* grid-auto-rows: minmax(100%, auto);  */
}

.u-grid-item {
  /* grid-column: 0;  */
  /* padding: 1rem;  */
  /* Padding inside the div */
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-0);
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-family: "Oswald";
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-4);
  margin-bottom: var(--space-xs);
}

h2 {
  font-size: var(--font-3);
  margin-bottom: var(--space-s-m);
}

h3 {
  font-size: var(--font-2);
}

h4 {
  font-size: var(--font-1);
  margin-bottom: var(--space-xs-s);
  color: var(--color-gold);
}

h5 {
  font-size: var(--font-0); /* Base */
}

h6 {
  font-size: var(--font--1); /* Smaller than base */
}

button {
  padding: var(--space-2xs);
  font-size: var(--font-0);
}

p {
  /* margin-bottom: var(--space-s); */
  /* text-align: left; */
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 100;
  text-transform: none;
  letter-spacing: 1.5px;
  font-size: var(--font-0);
  line-height: 1.6;
  /* word-break: break-all; */
}

h1,
h2,
h3,
h4 {
  text-transform: normal;
  font-family: "Raleway", serif;
}
/* 
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
} */

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
