/* Responsive styles */
@media (max-width: 768px) {
  .nav-toggle-close {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: var(--font-0);
    right: var(--font-0);
    width: var(--space-m);
    height: 2rem;
    background-color: initial;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    transform: translateY(-200%);
  }

  .nav-links {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--space-xl);
    font-size: var(--font-1);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 99;
  }

  .nav-links.show {
    visibility: visible;
    transform: translateX(0);
  }

  .nav-toggle {
    visibility: visible;
    font-size: var(--font-4);
  }

  .nav-toggle-close.active {
    visibility: visible;
    opacity: 1;
    font-size: var(--font-4);
    transform: translate(0);
    transition: transform 0.5s ease-in-out, visibility 0s,
      opacity 0.5s ease-in-out;
  }

  /* .header {
    padding-bottom: var(--space-s);
  } */

  .hero {
    padding: var(--space-s) 0;
  }

  .logo-container {
    padding-inline-start: 0.2rem;
    padding-block-start: 0.2rem;
  }

  .logo-container img {
    max-width: 100%;
    max-height: 50px;
    filter: blur(0.2);
  }

  .hero-text {
    width: clamp(40ch, 80%, 60ch);
    word-wrap: break-word;
  }

  .hero-button {
    width: calc(100% - 20%);
  }
}


/* Desktop  */
@media (min-width: 768px) {
  .logo-container {
    padding: 2px;
  }

  .navbar {
    padding-inline-end: var(--space-s);
  }

  .u-grid {
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
  }

  .hero-text {
    width: clamp(40ch, 1000%, 60ch);
  }

  
}
