.team-member {
  background: var(--color-lighter-grey);
  border-radius: 0.5rem;
  border-color: var(--color-dark-gold);
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.3s ease;
}

.team-member:hover {
  transform: translateY(var(--space-3xs));
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.team-member-image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  overflow: hidden;
}

.team-member-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.team-member-content {
  padding: var(--space-s);
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-height: 140px; */
}

.team-member-name {
  font-size: var(--font-0);
  font-weight: 600;
  margin-bottom: var(--space-xs);
  color:  var(--color-charcoal);
}

.team-member-role {
  color: #666;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.team-member-specialty {
  color: var(--color-dark-gold);
  font-size: 0.875rem;
  display: block;
}